[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
module = "==0.0.4"
numpy = "==1.21.2"
pandas = "==1.3.3"
pyarrow = "==5.0.0"

[dev-packages]

[requires]
python_version = "3.9"
